{% extends 'app_akku/base.html' %}
{% block content %}
<h2 class="mb-4">Resultados para: "{{ query }}"</h2>

<div class="list-group">
    {% for s in servicios %}
        <div class="list-group-item list-group-item-action">
            <h5 class="mb-1 text-danger">SERVICIO: {{ s.nombre }}</h5>
            <p class="mb-1">{{ s.descripcion }}</p>
        </div>
    {% endfor %}

    {% for c in cursos %}
        <div class="list-group-item list-group-item-action">
            <h5 class="mb-1 text-primary">CURSO: {{ c.nombre }}</h5>
            <p class="mb-1">{{ c.descripcion }}</p>
        </div>
    {% endfor %}

    {% if not servicios and not cursos %}
        <div class="alert alert-warning">No se encontró nada con ese nombre.</div>
    {% endif %}
</div>
<a href="{% url 'index' %}" class="btn btn-outline-secondary mt-3">Volver</a>
{% endblock %}


