{% extends 'app_akku/base.html' %}
{% block content %}
<div class="row align-items-center py-5">
    <div class="col-md-12 text-center">
        <h1 class="display-3 fw-bold mb-3">GROWTH SCIENTIFIC</h1>
        <p class="lead mb-5 text-muted">Estrategia de datos, UX y automatización personalizada para escalar tu negocio.</p>
        
        <div class="card shadow-sm border-0 p-4 bg-white mx-auto" style="max-width: 700px;">
            <h4 class="mb-4">Buscador de Soluciones</h4>
            <form action="{% url 'buscar_servicio' %}" method="GET" class="d-flex">
                <input type="text" name="q" class="form-control form-control-lg border-dark" style="border-radius: 0;" placeholder="¿Qué necesitas potenciar? (Ej: Data, UX...)">
                <button type="submit" class="btn btn-akku btn-lg px-4">BUSCAR</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

