{% extends 'app_akku/base.html' %}
{% block content %}
<h2>Dejanos tu consulta</h2>
<form method="POST" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Mensaje</label>
        <textarea name="mensaje" class="form-control" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Enviar Solicitud</button>
</form>
{% endblock %}
